*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right, #7274f5, #0dfe66);
}

.calculator{
  width:340px;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

#display{
  width:100%;
  height:70px;
  border:none;
  outline:none;
  border-radius:15px;
  margin-bottom:20px;
  padding:15px;
  font-size:30px;
  text-align:right;
  background:white;
  color:#333;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

button{
  height:65px;
  border:none;
  border-radius:15px;
  font-size:22px;
  cursor:pointer;
  transition:0.3s;
  font-weight:bold;
  background:white;
}

button:hover{
  transform:scale(1.05);
}

.operator{
  background:#ff914d;
  color:white;
}

.equal{
  background:#b5179e;
  color:white;
  grid-column:span 2;
}

.clear{
  background:#ff4d6d;
  color:white;
}